/* footer {
    height: 70px;
    position: fixed;
    bottom: 0;
    background: #e9ecef;
    padding: 10px 0;
    width: 100%;
}

classFooter {
    background-color: orange;
    color: grey;
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
}     */